main {
    background-color: #dddddd;
    border: 1px solid #000000;
    width: 400px;
    margin-left: 20px;
    padding: 10px;
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}