body {
    margin: 0;
    padding: 0;
    background: #CCCCCC;
}

section {
    margin-left: 20px;
}

h1 {
    font-size: 28px;
}

header p {
    font-style: italic;
}

.description {
    font-size: 24px;
}