@import url('https://use.fontawesome.com/releases/v6.4.0/css/all.css');

body {
    background-color: rgba(240, 240, 240, 255);
}

section {
    padding: 40px;
}

h2 {
    font-weight: 500;
    font-size: 30px;
}

a {
    text-decoration: none;
}

.button {
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 20px;
    padding: 5px 15px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
    margin-right: 10px;
}

.fill {
    background-color: rgb(51, 51, 51);
    color: white;
}

.hover:hover {
    border: 2px solid rgb(0, 102, 0);
    background-color: white;
}

.fill.hover:hover {
    background-color: rgb(0, 102, 0);
    color: white;
}

i {
    margin-right: 5px;
}