body {
    font-family: Helvetica, sans-serif;
    background: rgb(238, 238, 238);
    margin: 50px 100px;
}

header {
    border-bottom: 3px solid black;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 100%;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main {
    flex-basis: 70%;
}

aside {
    flex-basis: 25%;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 1em/1.2;
}

.content {
    display: flex;
}

.content>p {
    flex-basis: 100%;
}

blockquote {
    border-left: 3px solid lightgray;
    flex-basis: 90%;
}

blockquote>p {
    padding-left: 20px;
    margin: 0;
    font-style: italic;
    color: gray;
}

.author {
    float: right;
}

img {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    width: 150px;
    box-shadow: 0px 10px 20px rgb(128, 126, 126);
}

.first img {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.third img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

ul li {
    text-indent: 10px;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}